
body
{
	background-image: url("../img/background.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: top center;
	background-attachment: scroll;
}

.top-right-contact-bar
{
	font-size: 90%;	
	background-color: rgb(231, 231, 231); 
	border: 2px solid; 
	border-radius: 25px;
}

.navbar-brand > .a
{
	background-image: url("../img/IMH-Global-logo.png");
	border-image-width: 10px;

}

.slider-bar
{
	background-image: url("../img/boxes.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	height: 400px;
}

.info-area
{
	background-color: #rgb(231, 231, 231);
}